<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        /* Set a specific height for the map container */
        .map-container {
            width: 400px;
            height: 400px;
            margin: 10px;
            float: left; /* Arrange maps side by side */
        }
    </style>
</head>
<%- include('partials/_navbar') %>
<body>
    <header>
      <h1>wiki maps</h1>
    </header>
    <!-- Container for Existing Maps -->
    <div id="maps-container"></div>

    <script src="./helper-functions/createMaps.js"></script>
</body>
</html>
