<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        .map-and-button-container {
          margin-bottom: 20px; /* Space between map-button groups */
        }

        .map-container {
          width: 400px;
          height: 400px;
          margin: auto; /* Center the map */
        }

        .like-button {
          display: block;
          margin: 10px auto; /* Center the button below the map */
          padding: 10px 20px;
          background-color: #4CAF50; /* Example button color */
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
    </style>
</head>
<%- include('partials/_navbar') %>
<body>
    <header>
      <h1>wiki maps</h1>
    </header>
    <!-- Container for Existing Maps -->
    <div id="maps-container"></div>
    <script>
      // Get the mapsWithPoints data from the server
      const mapsWithPoints = <%- JSON.stringify(mapsWithPoints) %>;

      // Function to create and render maps with padding
      function createMaps() {
        var mapsContainer = document.getElementById('maps-container');

        mapsWithPoints.forEach(function (mapData, index) {
          // Create a container div for each map and its like button
          var containerDiv = document.createElement('div');
          containerDiv.className = 'map-and-button-container';
          mapsContainer.appendChild(containerDiv);

          // Create a map container div
          var mapDiv = document.createElement('div');
          mapDiv.className = 'map-container';
          mapDiv.id = 'map-' + index;
          containerDiv.appendChild(mapDiv); // Append to the containerDiv instead of mapsContainer

          // Create the map
          var map = L.map('map-' + index).setView([mapData.latitude, mapData.longitude], 14);
          L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {}).addTo(map);
          mapData.markers.forEach(function (marker) {
            L.marker([marker.latitude, marker.longitude]).addTo(map);
          });
          var group = new L.featureGroup(mapData.markers.map(marker => L.marker([marker.latitude, marker.longitude])));
          map.fitBounds(group.getBounds().pad(0.2));

          // Create and append the like button for this map
          var likeButton = document.createElement('button');
          likeButton.className = 'like-button';
          likeButton.textContent = 'Like';
          containerDiv.appendChild(likeButton); // Append the button to containerDiv
        });
      }

      // Call the function to create and render existing maps with padding
      createMaps(mapsWithPoints);
    </script>
</body>
</html>

