/* Apply styles to the main section (maps) */
.maps {
  display: inline-block;
  padding: 50px;
}

// Define variables
$primary-color: #4CAF50;

// General styles
.map-and-button-container {
  margin-bottom: 20px; /* Space between map-button groups */
}

.map-title-button {
  
}

.map-container {
  width: 400px;
  height: 400px;
  margin: auto; /* Center the map */
}

.like-button, .edit-button {
  display: block;
  margin: 10px auto; /* Center the button below the map */
  padding: 10px 20px;
  background-color: $primary-color; /* Example button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
